@import '../../variables.scss';

.input {
    height: 45px;
    border: 1px solid $gray-color;
    border-radius: 5px;
    outline: none;
    padding: 8px;

    &_error {
        border-color: $danger-color;
    }
}

label {
    display: block;
    font-weight: 700;
}