$primary-blue-color: #007298;
$dark-color: #333333;
$light-color: #f4f4f4;
$danger-color: #d9534f;
$success-color: #5cb85c;
$warning-color: #f0ad4e;
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$background-color: #f5f5f5;
$white-color: #fff;
$gray-color: #515151;
$gold-color: #FFC300;