@import '../../../../variables.scss';

.search_bar_wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

Input {
  width: 400px;
  margin-right: 20px;
}